<html>
<head>

</head>
<body>


<div>
    <div style="width:350px; float:left">
        {% block sidebar %}

        {% endblock %}
    </div>
    <div style="width:750px; float:left">
        {% block content %}

        {% endblock %}
    </div>
    <br style="clear:both" />
</div>

</body>
</html>


