{% extends 'HappyrUserProjectBundle:Project:base.html.twig' %}

{% block content -%}
    <h2>{% trans %}happyr.user.project.project.delete.heading{% endtrans %}</h2>
    <p>{% trans %}happyr.user.project.project.delete.paragraph{% endtrans %}</p>
    <p>{% trans with {"%%project%%":project.name} %}happyr.user.project.project.delete.paragraph2{% endtrans %}</p>

    {{ form(form) }}

{% endblock %}
