{% extends 'HappyRUserProjectBundle:Project:base.html.twig' %}


{% block content -%}
    <h2>{% trans %}happyr.user.project.project.edit.heading{% endtrans %}</h2>

    {{ form(form) }}


{% endblock %}
