{% macro projectUserPermission(project, user) %}
    {% spaceless %}
        {% set options=static('HappyR\\UserProjectBundle\\Manager\\PermissionManager', 'validMasks') %}
        <select onchange="
                $.post('{{ path('happyr_user_project_project_edit', {id:project.id, user_id:user.id}) }}', {
                mask: $(this).val()
                });
                ">
            {% for o in options %}
                <option value="{{ o }}"
                        {%- if project.getPermission(user) == o %} selected="selected"{% endif %}>
                    {{ ('happyr.user.project.mask.' ~ o)|trans }}
                </option>
            {% endfor %}
        </select>
    {% endspaceless %}
{% endmacro %}
