{% extends 'CarlinCoreBundle:Base:responsive.html.twig' %}

{% set _breadcrumbs=arrayAppend(_breadcrumbs, {'name':'happyr.user.project.project.base.title'|trans,'path':'_manager_projects'}) %}

{% block title_prefix %}{% trans %}happyr.user.project.project.base.title{% endtrans %}{% endblock %}

{% block title_suffix %}{{ _company.name }}{% endblock %}

{% block headercontent %}
    <h1>{% trans %}happyr.user.project.project.base.title{% endtrans %}</h1>
{% endblock %}

{% block breadcrumbscontent %}
    {% include "EastitSiteBundle:Base:breadcrumbs.html.twig" %}
{% endblock %}



{% block asidecontent %}
    {% include "HappyRUserProjectBundle:Manager:sidebar.html.twig" %}
{% endblock %}
