{% extends 'HappyRUserProjectBundle:Manager:base.single.html.twig' %}

{% set _breadcrumbs=arrayAppend(_breadcrumbs, {'name':'happyr.user.project.project.sidebar.edit'|trans,'path':'_manager_project_edit', params:{id:project.id} }) %}


{% block content -%}
    <h2>{% trans %}happyr.user.project.project.edit.heading{% endtrans %}</h2>

    {{ form(form) }}


{% endblock %}
