{% extends 'HappyRUserProjectBundle:Manager:base.html.twig' %}

{% set _breadcrumbs=arrayAppend(_breadcrumbs, {'name':'happyr.user.project.project.sidebar.create'|trans,'path':'_manager_project_create' }) %}

{% block content -%}
    <h2>{% trans %}happyr.user.project.project.new.heading{% endtrans %}</h2>
    <p>{% trans %}happyr.user.project.project.new.paragraph{% endtrans %}</p>

    {{ form(form) }}

{% endblock %}
